<h1 class="header__h1">Xcode Set Up</h1>
<div id="carousel-example-generic" class="carousel carousel__1 slide" data-interval="false" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <article class="step col-lg-6 col-md-6 col-sm-6 col-xs-6">
        1
      </article>
      <article class="step col-lg-6 col-md-6 col-sm-6 col-xs-6">
        2
      </article>
    </div>
    <div class="item">
      <article class="step col-lg-6 col-md-6 col-sm-6 col-xs-6">
        1
      </article>
      <article class="step col-lg-6 col-md-6 col-sm-6 col-xs-6">
        2
      </article>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
