<header class="wow fadeInDown header home">
  <h1 class="header__h1">
    Dev Environment Setup
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <%= link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <%= link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div class="row home">
  <h3>
    Welcome to Set up your Environment !
  </h3>
  <h5>
    Ready?
    <%= link_to "Let's start !", os_path %>
  </h5>

</div>
