<h1 class="home__h1">Dev Environment Setup</h1>
<div class="row">
    <div class="home__col home__col--1 col-lg-15 col-md-15 col-sm-6 col-xs-6">
    <h3>X code</h3>
    </div>
    <div class="home__col home__col--2 col-lg-15 col-md-15 col-sm-6 col-xs-6">
    <h3>RVM &amp; Ruby</h3>
    </div>
    <div class="home__col home__col--3 col-lg-15 col-md-15 col-sm-6 col-xs-6">
    <h3>Pry</h3>
    </div>
    <div class="home__col home__col--4 col-lg-15 col-md-15 col-sm-6 col-xs-6">
    <h3>Git</h3>
    </div>
    <div class="home__col home__col--5 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <h3>Heroku</h3>
    </div>
</div>
