// Place all the styles related to the essentialoruseful controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.essentialoruseful {

  &__article {
    height: 50vh;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100vw;

    a {
      top: 50%;
      position: relative;
      font-size: 36px;
      color: $cream;
    }


    &--essential {
      background: $red;
    }

    &--useful {
      background: $lightgreen;
    }
  }

}
@media (max-width: 600px) {
  .header__h1 {
    float: left;
    margin-left: 20px!important;
    position: relative;
    margin-top: 0px;
  }
}
.essentialoruseful .header__h1 {
  font-size: 15px;
  display: inline;
  margin-left: 86px;
}
