// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {

  &__col {

    height: 100vh;
    padding: 20px;
    text-align: center;
    transition: 0.8s all ease-out;

    &--hover {
      width:30vw !important;
    }

    &--other {
      width: 17.8vw !important;
    }

    h3 {
      margin-top: 20vh;
      color: rgb(231, 231, 231);
      // text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.62);
    }

    &--1 {
      background-color: #F5F0E9;
    }

    &--2 {
      background-color: #9B111E;
    }

    &--3 {
      background-color: #408000;
    }

    &--4 {
      background-color: #EC3720;
    }

    &--5 {
      background-color: #4C4972;
    }
  }
}

@media (max-width: 992px) {
  .home {
    &__col {
      height: 60vh !important;

      &--hover {
        width: 100% !important;
      }

      &--other {
        width: 100% !important;
      }
    }

    &__col h3 {
      margin-top: 10%;
    }

  }
}
