// Place all the styles related to the install controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .item {
//   height: 100vh;
// }

.carousel {
  height: 100vh;
  position: relative;

  &__1 {
    background-color: lightblue;
  }

  &-control.left, .carousel-control.right  {
    background-image: none!important;
    background-repeat: repeat-x;
  }

}

.step {
  margin-top: 10vh;
  padding-left: 13vw;
  float: left;
  width: 40vw;
}
