// Place all the styles related to the mac controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 5 columns grid */
.essentialtools {

  &__col {

    height: 100vh;
    padding: 20px;
    text-align: center;
    transition: 0.8s all ease-out;

    a {
      color: white;
      text-underline: none;
    }

    &--hover {
      width:30vw !important;
    }

    &--other {
      width: 17.8vw !important;
    }

    h3 {
      margin-top: 20vh;
      color: rgb(231, 231, 231);
    }

    &--1 {
      background-color: $green;
    }

    &--2 {
      background-color: $lightgreen;
    }

    &--3 {
      background-color: $cream;
    }

    &--4 {
      background-color: $lightred;
    }

    &--5 {
      background-color: $red;
    }
  }
}

.essentialtools .header__h1 {
  font-size: 15px;
  display: inline;
  margin-left: 0 auto !important;
}

@media (max-width: 992px) {
  .essentialtools {
    &__col {
      height: 60vh !important;

      &--hover {
        width: 100% !important;
      }

      &--other {
        width: 100% !important;
      }
    }

    &__col h3 {
      margin-top: 10%;
    }

  }
}

@media (max-width: 600px) {
  .essentialtools .header__h1, .header__h1 {
    float: left;
    margin-left: 20px;
  }
}

/* Carousel sample page for technologies */
.carousel {
  height: 100vh;
  position: relative;

  &__1 {
    background-color: lightblue;
  }

  &-control.left, .carousel-control.right  {
    background-image: none!important;
    background-repeat: repeat-x;
  }

}

.step {
  margin-top: 10vh;
  padding-left: 13vw;
  float: left;
  width: 40vw;
}
