// Place all the styles related to the windows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.windows {

  &__section {
      margin-top: 20vh;
      font-size: 24px;
      color: $whitetext;

      a, li {
        color: $red;
      }

      a:hover {
        color: black;
      }
  }

}
