<!DOCTYPE html>
<html>
<head>
  <title>Dev Environment Set Up</title>
<link rel="stylesheet" href="/public/stylesheets/main.min.css" media="screen" title="no title" charset="utf-8">
  <%= csrf_meta_tags %>
</head>
<body>
  <main  id="pjax_container" class="page">
    <%= yield %>
  </main>
  <script type="text/javascript" src="/public/js/main.min.js"></script>
  <footer class="footer"></footer>
</body>
</html>
