<!DOCTYPE html>
<html>
<head>
  <title>DevEnvironment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<main id="pjax_container" class="page">
  <%= yield %>
</main>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
