<!DOCTYPE html>
<html>
<head>
  <title>DevEnvironment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  new WOW().init();
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
