<!DOCTYPE html>
<html>
<head>
  <title>Dev Environment Set Up</title>
  <%= stylesheet_link_tag 'main.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main  id="pjax_container" class="page">
    <%= yield %>
  </main>
  <%= javascript_include_tag 'main.min', 'data-turbolinks-track' => true %>
  <footer class="footer"></footer>
</body>
</html>
