<!DOCTYPE html>
<html>
<head>
  <title>Dev Environment Set Up</title>

  <%= csrf_meta_tags %>
</head>
<body>
  <main  id="pjax_container" class="page">
    <%= yield %>
  </main>
  <footer class="footer"></footer>
</body>
</html>
